<template name="fold">
  <div id="fold-container">
    <div class="fold">
      <div class="container">
        <div class="fold-text col-sm-6 col-lg-offset-1">

          <h1>Vendo Bateria Solidrums S9</h1>
          <button type="button" class="btn btn-success btn-lg animated shake" data-toggle="modal" data-target="#myModal">VER FOTOS!</button>
           
          {{> modals }}

        </div>
        <img class="col-sm-5 img-responsive hero-img animated bounceInDown" src="img/dw.png" />
      </div>
    </div>
  </div>

</template>